* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.country-list {
  margin: 0px 0px 0px 10px;
  padding: 0;
}

.country-list__item {
  display: flex;
}
.country-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.country-list__flag {
  width: 30px;
  height: 20px;
  margin-right: 10px;
  border-radius: 1px;
}

.country-list__name {
  margin-top: 0;
  margin-bottom: 0;
}

.country-info__tumb {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.country-info__flag {
  margin-right: 15px;
  height: 40px;
  width: 40px;
  border-radius: 2px;
}

.country-info p {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.country-info span {
  font-weight: normal;
}

.country-info__name.title {
  font-size: 40px;
  font-weight: 700;
}
